<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="myBank_Draft.Properties.Settings.MyBankConnectionString"
            connectionString="Data Source=CCL2-20;Initial Catalog=MyBank;Persist Security Info=True;User ID=sa;Password=ccl2;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>